* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto 0;
  background:ghostwhite;
}
 .gif-frame {
  float: left;
  margin: 2%;
  border:1px solid black;
} 
#heading {
  width:100%;
  text-align: center;
  background:black;
  color:teal;
  border: 5px solid grey;
}
#button-con,
#search-con {
  padding: 5px;
  text-align: center;
  background:black;
}
#gif-con{
  background:ghostwhite;
  
}
.input-field{
  background:white;
}
