* {
  box-sizing: border-box;
}

.gif {
  border: 1px solid silver;
}
.gif-frame {
  background: lightgray;
  float: left;
  margin: 1%;
  border: 1px solid black;
  color: teal;
}
#heading {
  width: 100%;
  text-align: center;
  background: black;
  border: 5px solid grey;
}
#button-con,
#search-con {
  padding: 5px;
  text-align: center;
  background: black;
}

.input-field {
  background: white;
}

h1 {
  font-size: 10vw;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.push{
  height:100px;
}
.page-footer {
  width:100%;
  position: fixed;
  bottom: 0;
}
